header {
  background-color: #302f4e;

  img {
    width: 50px;
  }

  .navbar {
    max-width: 1000px;
    margin: 0 auto;

    .navbar-brand {
      cursor: pointer;
      font-weight: 800;
      font-size: 1.8rem;
      color: #fff;

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .nav {
    .nav-item {
      margin-left: 1rem;
    }

    a {
      color: #fff;
      transition: .5s;
      font-weight: 600;
      font-size: 1.2rem;

      &:hover {
        color: yellow;
      }

      &.active {
        color: yellow;
      }
    }
  }
}

.container {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.adaptive-nav {
  padding: 0 0.5rem;
}
